.getevents-options {
  width:95%;
  background-color: #fff;
  margin-top: 5%;
  height: 25%;
  padding: 25px;
}

.getevents-options h3 {
  color: #DE6226;
}

#getevents-signin {

}

#user_email, #user_password {
  height: 40px;
  margin-top: 5px;
  padding: 5px;
  width: 25%;
}

.getevents-error-message {
  color:red;
  font-size: 12px;
  margin: 10px 0px 20px 10px;
}

#user_request_email {
  color: #DE6226;
}

#disconnect_link {
  float: right;
  margin-right: 20px;
  margin-top: -30px;
}

#user_location {
  color: #DE6226;
}

#user_keywords {
  color: #DE6226;
}

#configure_link {
  float: right;
  margin-right: 20px;
  margin-top: -30px;
}

#getevents-listings {
  margin-top: 25px;
  width:95%;
  background-color: #fff;
  height:25%;
  padding: 15px;
}

#getevents-connected {
  margin-top: 25px;
  width:95%;
  background-color: #fff;
  height:25%;
  padding: 15px;
}

#getevents-connect {

}

.getevents-shortcode {
  font-size: 20px;
  font-weight: bold;
  color: #DE6226;
  margin: 10px 0px 0px 5px;
}

.getevents-create-account {
  margin: 100px 0px 0px 25px;
}

